<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
		<h1>New Course Form</h1>
	</div>
</div>

<%= render 'form', course: @course %>

<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
<%= link_to 'Back', courses_path, class: "button is-block is-info is-medium is-vcentered" %>
</div>
</div>
